@media(max-width:640px) {
  html{ font-size:10px}
}
@media(min-width:641px) and (max-width:1199px) {
  html{ font-size:15px}
}
@media(min-width:1200px) {
  html { 
    font-size:20px
  }
}
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  color: rgb(15, 15, 15);
}


.nav {
  z-index: 5;
  position: fixed;
  _position:absolute;
  box-shadow: 0 .1rem .5rem 0 #000;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
}
.logo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 48%;
  vertical-align: top;
  margin: .5rem 0 0 1rem;
  transition:all .4s ease;
}
.nav a {
  line-height: 3.rem;
  transition:all .4s ease;
}
.nav a:hover {
  text-shadow:.05rem .05rem .12rem rgb(166, 166, 166);
}
.nav h1 {
  line-height: 3.5rem;
  float: left;
}
.nav span {
  position: absolute;
  left: 4rem;
  top: 0;
}
.nav li {
  float: right;
  margin: 0 1rem;
}
.nav li.active a{
  color: rgb(22, 222, 222);
}



.wrapper {
  position: absolute;
  /* z-index: -100; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.w1 {
  background-image: url(../img/bing1.jpg);
  background-color: rgb(99, 99, 199);
}
.w2 {
  background-image: url(../img/bing2.jpg);
  background-color: rgb(199, 99, 99);
}
.w3 {
  background-image: url(../img/bing3.jpg);
  background-color: rgb(88, 188, 188);
}
.w4 {
  background-image: url(../img/bing4.jpg);
  background-color: rgb(33, 133, 233);
}



.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}


.skill-enter-active {
  animation: skill-in 2s;
}
.skill-leave-active {
  animation: skill-in 2s reverse;
}
@keyframes skill-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}


/* 文字层 */
.header,
.education,
.skill,
.work
{
  min-width: 32rem;
  padding: 2rem 2rem;
  background-color: rgba(22, 222, 222, 0.801);
}
.header li {
  height: 2rem;
  line-height: 2rem;
} 
.header img {
  border-radius: 48%;
  margin: 0 2rem;
  width: 10rem;
  height: 10rem;
}

.education table {
  border-spacing: 2rem 1rem;
}

.skill ul {
  padding: .5rem 1rem;
}
.skill ul:last-child {
  margin-bottom: -1rem;
}
.skill li {
  margin: 1rem 0;
}
.work table {
  border-spacing: 2rem 1rem;
} 
.work li{
  cursor: pointer;
}



/* 该样式已被隐藏 */
.slide-button {
  position: fixed;
  top: 50%;
  margin-top: -5rem;
  right: 1rem;
  display: none;
}
.slide-button > span {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  border-radius: 50%;
  border: .05rem solid rgba(245, 248, 248, 0.966);
  cursor: pointer;
  margin-bottom: 1rem;
}
.slide-button span.active{
  background-color: rgb(231, 17, 17);
}
div.slide-button:hover{
  display: block;
}







footer {
  position: absolute;
  z-index: 5;
  bottom: 1rem;
  left:50%;
  margin-left: -6rem;
  font-size: .5rem;
  color: rgb(66, 66, 66);
  text-align: center;
}
 