<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>简历初始页面</title>
  <!-- <script src="./js/vue.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="./css/index.css">

</head>
<body>
    
  <div id="app" @mouseenter='stop' @mouseleave='auto' @mousewheel='myScroll($event)'>
    <!-- 背景图层 -->
    <div class="bgimg" :style="item" v-for='(item, index) in imgarr' v-show='index==showImg' >
    </div>
    <div class='slide-button'>
      <span 
          v-for='(item, index) in imgarr' 
          :class='{"active":index===showImg}'
          @click='changImg(index)' 
         >
      {{index + 1}}
    </span>
    </div>

    <!-- 文字介绍图层 -->
    <header>
      <table>
          <td>
              <ul class="left">
                <li>姓名：柏东波</li>
                <li>性别：男</li>
                <li>籍贯：湖南</li>
              </ul>
          </td>
          <td>
            <img src="./img/IDIMG.jpg" alt="我的个人照片" align='middle' >
          </td>
          <td>
              <ul class="right">
                <li><a href="tel:17665288800">电话：17665288800</a></li>
                <li><a href="tel:baidonbo@qq.com">邮箱：909211913@qq.com</a></li>
                <li>出生年月：1989年8月</li>
              </ul>
          </td>
      </table>
      
      
    </header>
    <div class="content">
      <div class="education">
        <h1>教育背景</h1>
        <table>
          <tr v-for = 'item in eduBackgrounds'>
            <td> {{ item.school}} </td>
            <td> {{ item.profession}} </td>
            <td> {{ item.year}} </td>
          </tr>
        </table>
      </div>

      <div class="skill">
        <h1>技能特长</h1>
        <ul>
          <li>1.熟悉Javascript、css3和html5并能熟练运用实现网页常用特效，掌握<br>面向对象编程思想</li>
          <li>2.熟悉vue前端框架，了解Nodejs以及less、git、github等技术和团队<br>协作开发工具</li>
          <li>3.具备抗压能力、且有一定自学能力，能够熟练阅读使用中文API，英文<br>API可以大概看懂并运用</li>
        </ul>
      </div>

      <div class="work">
        <h1>工作经历</h1>
        <ul>
          <li v-for='(item,index) in workExperience' @click='showContent(index)' >
            <table>
              <td>{{ item.company }}</td>
              <td>{{ item.job }}</td>
              <td>{{ item.inservice }}</td>
            </table>
            <p v-html='item.content' v-show='showCont ==index'></p>
          </li>
        </ul>
      </div>
    </div>
    <footer>
      欢迎路过的老板<a title="拨打17665288800" href="tel:baidonbo@qq.com">电话骚扰</a>和<a title="发送邀请909211913@qq.com" href="mailto:909211913@qq.com">邮箱联系</a>
    
    </footer>
  </div>
  <script src="./js/index.js"></script>
</body>
</html>